<%- include('partials/header')%>
  <!--  -->
  <%- include('partials/nav')%>
    <!--  -->
<h1  class="text-blue-600 text-center text-6 text-5xl bg-white-800 rounded px-5 py-2">subscribe Page</h1>


  <%- include('partials/footer')%>